# AWS CDK v2 (single package for all AWS CDK resources)
aws-cdk-lib==2.132.0
constructs==10.3.0

# Fixed compatibility for attrs and jsii
attrs>=21.3.0
jsii>=1.83.0

# Other required dependencies (updated to latest stable versions)
cattrs==23.2.3
certifi==2023.11.17
chardet==5.2.0
idna==3.4
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
more-itertools==10.2.0
packaging==23.2
pluggy==1.4.0
py==1.11.0
pyparsing==3.1.1
pytest==7.4.4
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
toml==0.10.2
typing-extensions==4.9.0
urllib3==2.1.0
zipp==3.17.0
